.badge {
  border-radius: 15px;
  display: block;
  padding: 5px 10px;
  justify-content: center;
  margin: 10px 0;
}

.badge.activation {
  background-color: #dc504d;
  color: white;
}

.badge.relaxation {
  background-color: #3498db;
  color: white;
}

.badge.meditation {
  background-color: #f1c40f;
  color: white;
}
