:root {
  --square-time: 12s;
  --square-iteration: 5;
  --wim-time: 3s;
  --wim-iteration: 30;
  --wim-blocks: 1;
  --bg-button-primary: #735bf2;
  --bg-button-secondary: #ddd7ff;
  --bg-button-terciary: #3fcbff;
  --bg-input: #f2f2f2;
  --bg-roundcard: #fff;
  --roundcard-text-color: rgba(11, 19, 1, 1);
}

.breath-wrapper {
  max-width: 1200px;
  width: 100%;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  padding: 20px 30px;
}

.counter-time {
  font-size: 5rem;
}

.counter.red {
  color: #c96564;
}

.counter.white {
  color: white;
}

.intro {
  display: flex;
  gap: 50px;
}

.wimhof {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.input-block {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  width: 100%;
}

.input-block label {
  color: black;
}

.card.blue .input-block label {
  color: white;
}

.card.blue input {
  color: white;
}

.card-wim {
  background: url('../images/ice.jpg') no-repeat;
  background-size: cover;
}

.card-wim-content {
  background-color: #363c51;
  border-radius: 1rem;
  max-width: 400px;
  padding: 20px;
}

.card {
  align-items: center;
  border-radius: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
}

.card.yellow {
  background-color: #fdb997;
}

.card.lightblue {
  background-color: #8e9fc3;
}

.card.blue {
  background-color: #363c51;
}

.card.first {
  z-index: 1;
}

.card.second {
  position: relative;
  top: -20px;
  z-index: 2;
}

.hold-time h2 {
  font-size: 3rem;
}

input {
  border: 0;
  border-bottom: 2px solid #78788c;
  box-sizing: border-box;
  background: none;
  color: black;
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
  outline: none;
  padding: 10px;
  resize: none;
  transition: all 0.3s;
  width: 100%;
  max-width: 200px;
}

input:focus {
  border-bottom: 2px solid #a0a0b9;
}

.figure {
  background: white;
  background: url('../images/breathing.jpg') no-repeat;
  background-size: cover;
  border: 3px solid black;
  display: grid;
  grid-template-areas:
    "top top top"
    "left . right"
    "bottom bottom bottom";
  justify-items: baseline;
  column-gap: 20px;
  height: 300px;
  padding: 5px;
  position: relative;
  width: 300px;
}

.circle {
  align-items: center;
  align-self: center;
  background: #8e9fc3;
  display: flex;
  border-radius: 50%;
  height: 20px;
  justify-self: center;
  justify-content: center;
  margin: 70px auto;
  padding: 5px;
  width: 20px;
  z-index: 20;
}

.circle span {
  color:white;
  font-weight: 400;
}

.instructions {
  align-self: center;
  color: white;
  padding: 20px;
}

.instructions p {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.marker-left {
  align-self: center;
  grid-area: left;
}

.marker-right {
  align-self: center;
  grid-area: right;
  justify-self: flex-end;
}

.marker-top {
  grid-area: top;
  justify-self: center;
}

.marker-bottom {
  align-self: flex-end;
  grid-area: bottom;
  justify-self: center;
}

.figure span {
  color: black;
}

.pointer {
  background: rgb(237, 157, 138);
  background: radial-gradient(
    circle,
    rgba(237, 157, 138, 1) 3%,
    rgba(232, 73, 73, 1) 98%
  );
  height: 30px;
  left: -5%;
  position: absolute;
  border-radius: 50%;
  top: -5%;
  width: 30px;
}

.move {
  animation-duration: var(--square-time);
  animation-name: move-animation;
  animation-iteration-count: var(--square-iteration);
  animation-timing-function: linear;
}

.grow {
  animation-duration: var(--wim-time);
  animation-name: grow-animation;
  animation-iteration-count: var(--wim-iteration);
  animation-timing-function: linear;
}

.switch-button {
  background: rgba(255, 255, 255, 0.56);
  border-radius: 30px;
  overflow: hidden;
  width: 150px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  font-weight: 400;
  position: relative;
  padding-right: 120px;
  position: relative;
}

.switch-button:before {
  content: "Fast";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}

.switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}

.switch-button-checkbox:checked + .switch-button-label:before {
  transform: translateX(120px);
  transition: transform 300ms linear;
}

.switch-button-checkbox + .switch-button-label {
  color: white;
  position: relative;
  padding: 10px 0;
  display: block;
  user-select: none;
  pointer-events: none;
}

.switch-button-checkbox + .switch-button-label:before {
  content: "";
  background: #1c71da;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  transform: translateX(0);
  transition: transform 300ms;
}
.switch-button-checkbox + .switch-button-label .switch-button-label-span {
  position: relative;
}

.options {
  width: 100%;
}

.speed-block {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
}

.speed-block p {
  margin: 10px 0;
}

@keyframes grow-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  60% {
    transform: scale(12);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 0.2;
  }
}

@media only screen and (max-width: 600px) {
  .intro {
    flex-direction: column;
  }
}