.navbar {
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
}

.left-side {
  align-items: center;
  display: flex;
}

.logo {
  height: 50px;
}

.menu-list {
  align-items: center;
  display: flex;
  gap: 20px;
  list-style: none;
}

@media only screen and (max-width: 1024px) {
  h3.logo-text {
    font-size: 1.1rem;
  }

  .logo {
    height: 30px;
  }

  .menu-list a {
    font-size: 0.9rem;
  }
}
