:root {
  --bg-color-primary: #f8d5f0;
  --bg-color-secondary: #b8bdfe;
  --text-color: rgba(11, 19, 1, 1);
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Oxygen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.tabata {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.window {
  background: var(--bg-color-primary);
  background: linear-gradient(
    180deg,
    var(--bg-color-primary) 7%,
    var(--bg-color-secondary) 81%
  );
  display: flex;
  justify-content: center;
  width: 100%;
}

.timer {
  font-size: 5rem;
}

.title {
  color: var(--text-color);
  font-weight: 700;
  font-size: 1.1rem;
}
